#header
{
  width:100%;
}
#contactWidgetContainer
{
  background-color:rgb(32,110,79);
  padding-top:5px;
  padding-bottom:5px;
  font-weight:bold;
  font-size:16px;
  height:35px;
}
.contactWidgets
{
  display:inline-block;
  color:white;
}
#menuItems{
  display:inline-block;
  float:right;
  margin-right:20px;
}
#pageTitle
{
  margin-left:20px;
  display:inline-block;
  color: #206e4f;
}
.container
{
  padding:0px !important;
}
@font-face {
    font-family: 'loewRegular';
       src: url('') format('woff');
  }
    .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
    #myCarousel > a.right.carousel-control
  {
  background-image:none;
  right:.5%;
  width:3%;
  }
    #myCarousel > a.left.carousel-control
  {
  background-image:none;
  left:.5%;
  width:3%;
  }
/* Styling for mobile at screen width of 600px */
  @media only screen and (max-width: 600px) {
    .contactWidgets
    {
     font-size:14px;
    }
}

/* Styling for mobile at screen width of 480px */
  @media only screen and (max-width: 480px) {
    .contactWidgets
    {
     font-size:12px;
    }
}

#aboutUsDiv
{
  text-align:center;
  padding-left:100px;
  padding-right:100px;
}
#aboutUs
{
  color:rgb(32,110,79);
}
